@model EventOrganiser.Web.ViewModels.Event.EventViewModel
@using Microsoft.AspNetCore.Identity
@using EventOrganiser.Data.Models

    @inject UserManager<ApplicationUser> userManager
@{string id = userManager.GetUserId(User);}
@inject EventOrganiser.Data.ApplicationDbContext dbContext;
@if (Model.EventsUser.Any(x => x.UserId == userManager.GetUserId(User)))
{
    if (userManager.GetUserId(User) == Model.HostId)
    {
        <div style="float:right" id="DeleteBtn" class="button-holder">
            <a href="/e/DeleteEvent?eventId=@Model.Id" class="btn btn-primary btn-block text-uppercase">Delete</a>
        </div>
        <div id="EditBtn" class="button-holder">
            <a href="/e/EditEvent?eventId=@Model.Id" class="btn btn-primary btn-block text-uppercase">Edit</a>
        </div>
    }
    else
    {
        <div class="button-holder">
            <a href="/e/RemoveUserFromEvent?eventId=@Model.Id" class="btn btn-primary btn-block text-uppercase">Leave</a>
        </div>
    }
}
else
{
    <div class="button-holder">
        <a href="/e/AddUserToEvent?eventId=@Model.Id" class="btn btn-primary btn-block text-uppercase">Join</a>
    </div>
}

<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @Model.Title
        <small>@Model.Entry</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src=@Model.Img alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Details</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>Location: @Model.Location</li>
                <li>Date: @Model.Date</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->

</div>






<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 4 Blog Post Comments Section Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="comments">
                    <div class="comments-details">
                        <span class="total-comments comments-sort">@Model.Comments.Count() Comments</span>
                        <span class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Sort By <span class="caret"></span></button>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Top Comments</a>
                                <a href="#" class="dropdown-item">Newest First</a>
                            </div>
                        </span>
                    </div>


                    <div class="button-holder">
                        <a href="/e/Comment?eventId=@Model.Id" class="btn btn-primary btn-block text-uppercase">WriteComment</a>
                    </div>



                    <div class="comment-box">
                        <span class="commenter-pic">
                            <img src="/images/user-icon.jpg" class="img-fluid">
                        </span>
                        <span class="commenter-name">
                            <a href="#">Happy uiuxStream</a> <span class="comment-time">2 hours ago</span>
                        </span>
                        <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
                        <div class="comment-meta">
                            <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                            <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button>
                            <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>
                        </div>
                        <div class="comment-box replied">
                            <span class="commenter-pic">
                                <img src="/images/user-icon.jpg" class="img-fluid">
                            </span>
                            <span class="commenter-name">
                                <a href="#">Happy uiuxStream</a> <span class="comment-time">2 hours ago</span>
                            </span>
                            <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
                            <div class="comment-meta">
                                <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                                <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button>
                                <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>
                            </div>
                            <div class="comment-box replied">
                                <span class="commenter-pic">
                                    <img src="/images/user-icon.jpg" class="img-fluid">
                                </span>
                                <span class="commenter-name">
                                    <a href="#">Happy uiuxStream</a> <span class="comment-time">2 hours ago</span>
                                </span>
                                <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
                                <div class="comment-meta">
                                    <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                                    <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button>
                                    <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<style>
    .comments-details button.btn.dropdown-toggle,
    .comments-details .total-comments {
        font-size: 18px;
        font-weight: 500;
        color: #5e5e5e;
    }

    .comments-details {
        padding: 15px 15px;
    }

    .comments .comments .dropdown,
    .comments .dropup {
        position: relative;
    }

    .comments button {
        background-color: transparent;
        border: none;
    }

    .comments .comment-box {
        width: 100%;
        float: left;
        height: 100%;
        background-color: #FAFAFA;
        padding: 10px 10px 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .comments .add-comment {
        background-color: transparent;
        border: none;
        position: relative;
        margin-bottom: 50px;
    }

    .comments .commenter-pic {
        width: 50px;
        height: 50px;
        display: inline-block;
        border-radius: 100%;
        border: 2px solid #fff;
        overflow: hidden;
        background-color: #fff;
    }

    .comments .add-comment .commenter-name {
        width: 100%;
        padding-left: 75px;
        position: absolute;
        top: 20px;
        left: 0px;
    }

    .comments .add-comment input {
        border-top: 0px;
        border-bottom: 1px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        outline: 0px;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        padding: 0;
        font-weight: normal;
    }

        .comments .add-comment input:focus {
            border-color: #03a9f4;
            border-width: 2px;
        }

    .comments .add-comment button[type=submit] {
        background-color: #03a9f4;
        color: #fff;
        margin-right: 0px;
    }

    .comments .add-comment button {
        background-color: #f5f5f5;
        margin: 10px 5px;
        font-size: 14px;
        text-transform: uppercase;
        float: right;
    }

    .comments .commenter-name .comment-time {
        font-weight: normal;
        margin-left: 8px;
        font-size: 15px;
    }

    .comments p.comment-txt {
        font-size: 15px;
        border-bottom: 1px solid #ddd;
        padding: 0px 0px 15px;
    }

    .comments .commenter-name {
        display: inline-block;
        position: relative;
        top: -20px;
        left: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .comments .comment-meta {
        font-size: 14px;
        color: #333;
        padding: 2px 5px 0px;
        line-height: 20px;
        float: right;
    }

    .comments .reply-box {
        display: none;
    }

    .comments .replied {
        background-color: #fff;
        width: 95%;
        float: right;
        margin-top: 15px;
    }

    /*======Responsive CSS=======*/
    .comments .commenter-pic {
        width: 40px;
        height: 40px;
    }

    .comments .commenter-name a {
        display: block;
    }

    .comments .commenter-name .comment-time {
        display: block;
        margin-left: 0px;
    }
    }
</style>

<script>
    // Reply box popup JS
    $(document).ready(function () {
        $(".reply-popup").click(function () {
            $(".reply-box").toggle();
        });
    });
</script>






<!------ Include the above in your HEAD tag ---------->
<style>
    body {
        background: #fafafa;
    }

    .widget-area.blank {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }

    body .no-padding {
        padding: 0;
    }

    .widget-area {
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        float: left;
        margin-top: 30px;
        padding: 25px 30px;
        position: relative;
        width: 100%;
    }

    .status-upload {
        background: none repeat scroll 0 0 #f5f5f5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        float: left;
        width: 100%;
    }

        .status-upload form {
            float: left;
            width: 100%;
        }

            .status-upload form textarea {
                background: none repeat scroll 0 0 #fff;
                border: medium none;
                -webkit-border-radius: 4px 4px 0 0;
                -moz-border-radius: 4px 4px 0 0;
                -ms-border-radius: 4px 4px 0 0;
                -o-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
                color: #777777;
                float: left;
                font-family: Lato;
                font-size: 14px;
                height: 142px;
                letter-spacing: 0.3px;
                padding: 20px;
                width: 1100px;
                resize: vertical;
                outline: none;
                border: 1px solid #F2F2F2;
            }

        .status-upload ul {
            float: left;
            list-style: none outside none;
            margin: 0;
            padding: 0 0 0 15px;
            width: auto;
        }

            .status-upload ul > li {
                float: left;
            }

                .status-upload ul > li > a {
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    border-radius: 4px;
                    color: #777777;
                    float: left;
                    font-size: 14px;
                    height: 30px;
                    line-height: 30px;
                    margin: 10px 0 10px 10px;
                    text-align: center;
                    -webkit-transition: all 0.4s ease 0s;
                    -moz-transition: all 0.4s ease 0s;
                    -ms-transition: all 0.4s ease 0s;
                    -o-transition: all 0.4s ease 0s;
                    transition: all 0.4s ease 0s;
                    width: 300x;
                    cursor: pointer;
                }

                    .status-upload ul > li > a:hover {
                        background: none repeat scroll 0 0 #606060;
                        color: #fff;
                    }

        .status-upload form button {
            border: medium none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            color: #fff;
            float: right;
            font-family: Lato;
            font-size: 14px;
            letter-spacing: 0.3px;
            margin-right: 9px;
            margin-top: 9px;
            padding: 6px 15px;
        }

    .dropdown > a > span.green:before {
        border-left-color: #2dcb73;
    }

    .status-upload form button > i {
        margin-right: 7px;
    }
</style>

<style>
    #EditBtn {
        margin-right: 3px;
        float: right;
    }
</style>


