@model EventOrganiser.Web.ViewModels.User.UserViewModel
@using Microsoft.AspNetCore.Identity
@using EventOrganiser.Data.Models

@inject UserManager<ApplicationUser> userManager
@{var user = await userManager.GetUserAsync(this.User);}
<div class="container">
    <div style="margin-left:390px;width:300px;margin-bottom:10px">
        <div>
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="@user.Img" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.Username
                    </div>
                    <div class="profile-usertitle-job">
                        To Do
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                @if (user.Id != @Model.Id)
                {
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                    </div>
                }
                else
                {
                    <form style="margin-left:10px;margin-right:10px" method="post" asp-action="Update" asp-controller="User" asp-route-userId="@Model.Id" enctype="multipart/form-data">
                        <label for="Image">Image</label>
                        <div class="custom-file">
                            <input asp-for="Img" class="custom-file-input">
                            <label asp-for="Img" class="custom-file-label">Choose image...</label>
                        </div>
                        <button style="margin-top:10px;margin-left:8px" type="submit" class="btn btn-primary">Save</button>
                    </form>
                }
                <!-- END MENU -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Joined Events
                </h3>
                <span class="label label-info">
                    @Model.Events.Count()
                </span>
            </div>
            <div style="width:1110px" class="panel-body">
                <ul class="list-group">
                    @foreach (var appevent in Model.Events)
                    {
                        <li style="height:100px" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img style="width:70px;height:70px" src="@appevent.Img" class="img-circle img-responsive" alt="" />
                                </div>
                                <div class="col-xs-10 col-md-11">
                                    <div>
                                        <a asp-action="ById" asp-controller="Events" asp-route-id="@appevent.Id">
                                            @appevent.Title
                                        </a>
                                        <div class="mic-info">
                                            @appevent.Entry
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        When: @appevent.Date
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    /***

    A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
    Licensed under MIT
    ***/

    body {
        background: #F1F3FA;
    }

    /* Profile container */
    .profile {
        text-align:center;
        align-items:center;
        width: 1200px;
        display: block;
        background-color: #eee;
        margin-left: 500px;
        margin-right: auto;
        margin: 20px 0;
    }

    /* Profile sidebar */
    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .profile-userpic img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }

        .profile-userbuttons .btn {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
        }

            .profile-userbuttons .btn:last-child {
                margin-right: 0px;
            }

    .profile-usermenu {
        margin-top: 30px;
    }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

            .profile-usermenu ul li:last-child {
                border-bottom: none;
            }

            .profile-usermenu ul li a {
                color: #93a3b5;
                font-size: 14px;
                font-weight: 400;
            }

                .profile-usermenu ul li a i {
                    margin-right: 8px;
                    font-size: 14px;
                }

                .profile-usermenu ul li a:hover {
                    background-color: #fafcfd;
                    color: #5b9bd1;
                }

            .profile-usermenu ul li.active {
                border-bottom: none;
            }

                .profile-usermenu ul li.active a {
                    color: #5b9bd1;
                    background-color: #f6f9fb;
                    border-left: 2px solid #5b9bd1;
                    margin-left: -2px;
                }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }
</style>

<style>
    body {
        padding-top: 30px;
    }

    .widget .panel-body {
        padding: 0px;
    }

    .widget .list-group {
        margin-bottom: 0;
    }

    .widget .panel-title {
        display: inline
    }

    .widget .label-info {
        float: right;
    }

    .widget li.list-group-item {
        border-radius: 0;
        border: 0;
        border-top: 1px solid #ddd;
    }

        .widget li.list-group-item:hover {
            background-color: rgba(86,61,124,.1);
        }

    .widget .mic-info {
        color: #666666;
        font-size: 11px;
    }

    .widget .action {
        margin-top: 5px;
    }

    .widget .comment-text {
        font-size: 12px;
    }

    .widget .btn-block {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
</style>